#  ******************************* Authentication *******************************
# RESOLVER_URI=
JWKS_URI=
AUTHENTICATOR_PORT=
# LINK_TO_AUTHORIZATION_SERVICE=
LINK_TO_AUTHORIZATION_SERVICE=
CONSENT_MANAGER_URI=

#  ******************************* Consent Manager *******************************
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

CONSENT_MANAGER_PORT=
REDIS_HOST=
REDIS_PORT=
RMQ_HOST=
RMQ_PORT=
RABBITMQ_PASSWORD=
RABBITMQ_USERNAME=
RMQ_URL=
RMQ_QUEUE_DURABLE=
RMQ_QUEUE=
RMQ_QUEUE_DURABLE=
JWT_ISSUER=
JWT_SUBJECT=
JWT_AUDIENCE=
JWT_ALGORITHM=
JWT_EXPIRES=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
HASURA_ADMIN_SECRET=
DATABASE_URL=
MAGICBELL_API_KEY=
MAGICBELL_API_SECRET=
PUBLIC_KEY_URL=

#  ******************************* Resolver *******************************
SECRET_HEADER=
SECRET=
SERVER_URI=
RESOLVER_PORT=

#  ******************************* Gatekeeper *******************************
RESOLVER_URI=
SECRET_HEADER=
SECRET=
SERVER_URI=
GATEKEEPER_PORT=